h2 {
    color: red;
    margin-top: 12px;
    margin-left: 10px;
}
.box {
    color: #5F5F5F;
    margin-top: 54px;
    margin-left: 91px;
}
img {
    margin-top: 307px;
    margin-left: 79px;
}
p {
    color: #5F5F5F;
    margin-top: 434px;
    margin-left: 10px;
}