h2 {
    color: red;
    margin-top: 12px;
    margin-left: 10px;
}
.box {
    color: #5F5F5F;
    margin-top: 30px;
    margin-left: 60px;
}
img {
    margin-top: 30px;
    margin-left: 10px;
}
p {
    color: #5F5F5F;
    margin-top: 50px;
    margin-left: 10px;
}
